h1{
    color: rgb(0, 0, 0);
    background-color: rgb(138, 8, 225);
}
body{
    
    background-color: rgb(138, 8, 225);
    text-align: center;
}
img{
    width: 800px;
}
footer{
    color: blue;
}
p{
    color: rgb(0, 0, 0);
}